.clear {
	CLEAR:both;
	HEIGHT:38px;
}
#middle1 {
	width:962px;
	margin:0 auto;
}
#middle1a7 {
	float:left;
	width:947px;
	padding-bottom:9px;
	padding-left:11px;
}
#middle1a7 img {
	border:0;
	width:120px;
	height:142px;
}
#middle1a7 ul {
	list-style:none;
	margin-top:8px;
}
#middle1a7 ul li {
	float:left;
}
#middle1a7 ul li p {
	padding:6px 5px;
}
#middle1a7 ul li p a {
	display:block;
	border:1px solid #E3E3E3;
	padding:1px;
}
#middle1a7 ul li p a:hover {
	display:block;
	border:1px solid #FF3300;
	padding:1px;
}

#middle1a7 ul li h5 {
	width:120px;
	height:19px;
	line-height:15px;
	padding-top:6px;
	background:#000;
	filter:alpha(opacity=95);
	opacity:0.9;
	font-size:12px;
	margin-top:-33px;
	color:#ffffff;
	font-weight:normal;
	text-align:center;
	overflow:hidden;
	white-space:nowrap;
}
.middle2aa {
	float:right;
	width:242px;
	margin-top:1px;
	margin-bottom:8px;
}
.middle2ab {
	float:left;
	width:714px;
	margin-top:1px;
	margin-bottom:8px;
}
.top2ab11_h {
	height:24px;
	line-height:21px;
	text-align:left;
	padding-left:6px;
	BACKGROUND:url(toolbar.gif) repeat-x;
	border-bottom:1px solid #B5D9EE;
}
.top2ab11_h h1 a {
	color:#bc2931;
}
.top2ab11_h h1 {
	letter-spacing:2px;
	font-size:14px;
	line-height:21px;
	height:21px;
	color:#bc2931;
	background:url(soso.gif) 9px 8px no-repeat;
	padding-left:30px;
	text-align:left;
	padding-top:3px;
}
.top2ab11_h h1 span {
	float:right;
	font-size:12px;
	font-weight:normal;
	color:#900;
	padding-right:10px;
	padding-left:15px;
	line-height:16px;
	height:18px;
	padding-top:2px;
	background:url(more.gif) 0px 6px no-repeat;
	letter-spacing:1px;
}
.top2ab11_h h1 span a {
	color:#bc2931;
}
.top2ab11_h h1 span a:hover {
	text-decoration:underline;
}
.commendType {
	float:left;
	width:712px;
	border:1px solid #B5D9EE;
	margin-top:8px;
}
.commendType ul {
	width:98%;
	height:187px;
	margin:0 auto;
	margin-top:7px;
}
.commendType li {
	float:left;
	text-align:left;
	width:200px;
	line-height:20px;
	height:26px;
	margin:0 11px;
	margin-top:8px;
	border-bottom:1px dashed #ddd;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	padding-left:6px;
}
.commendType li a {
	color:#000000;
	text-decoration:none;
}
.commendType li a:hover {
	color:#0290fe;
	text-decoration:underline;
}
.commendType li span {
	font-size:12px;
	padding-right:13px;
	color:#777;
	font-family:verdana;
}
.commena {
	float:left;
	width:712px;
	border:1px solid #B5D9EE;
	margin-top:8px;
}
.commena ul {
	width:98%;
	height:516px;
	margin:0 auto;
	margin-top:9px;
}
.commena li {
	float:left;
	text-align:left;
	width:200px;
	line-height:20px;
	height:27px;
	margin:0 11px;
	margin-top:8px;
	border-bottom:1px dashed #ddd;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	padding-left:6px;
}
.commena li a {
	color:#000000;
	text-decoration:none;
}
.commena li a:hover {
	color:#0290fe;
	text-decoration:underline;
}
.commena li span {
	font-size:12px;
	padding-right:13px;
	color:#777;
	font-family:verdana;
}
.commenb {
	float:left;
	width:712px;
	border:1px solid #B5D9EE;
	margin-top:8px;
}
.commenb ul {
	width:98%;
	height:516px;
	margin:0 auto;
	margin-top:9px;
}
.commenb li {
	float:left;
	text-align:left;
	width:200px;
	line-height:20px;
	height:27px;
	margin:0 11px;
	margin-top:8px;
	border-bottom:1px dashed #ddd;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	padding-left:6px;
}
.commenb li a {
	color:#000000;
	text-decoration:none;
}
.commenb li a:hover {
	color:#0290fe;
	text-decoration:underline;
}
.commenb li span {
	font-size:12px;
	padding-right:13px;
	color:#777;
	font-family:verdana;
}
.commenb li b {
	font-size:12px;
	color:#777;
	font-family:verdana;
	font-weight:normal;
	padding-right:13px;
}
.commendType11 {
	overflow:hidden;
	margin-top:2px;
	width:960px;
	border:1px solid #B5D9EE;
}
.top2ab113_h {
	background:url(uuk.gif);
}
.top2ab113_h h4 {
	border-bottom:1px solid #B5D9EE;
	font-weight:bold;
	font-size:14px;
	padding-top:1px;
	font-family:"宋体";
	line-height:26px;
	color:#bc2931;
	background:url(bg05.gif) 19px 6px no-repeat;
	padding-left:44px;
	text-align:left;
	letter-spacing:2px;
}
.top2ab113_h h4 a {
	color:#bc2931;
	font-size:12px;
	font-weight:normal;
}
.top2ab113_h h4 span {
	float:right;
	padding-left:65px;
	padding-right:10px;
	font-size:12px;
	font-weight:normal;
	background:url(fxiang.gif) 0px 2px no-repeat;
}
.top2ab1133_h {
	background:url(uuk.gif);
}
.top2ab1133_h h4 {
	border-bottom:1px solid #B5D9EE;
	font-weight:bold;
	font-size:14px;
	font-family:"宋体";
	line-height:25px;
	height:25px;
	background:url(bg05.gif) 19px 7px no-repeat;
	padding-left:45px;
	text-align:left;
	padding-top:2px;
	color:#bc2931;
	letter-spacing:2px;
	margin-bottom:14px;
}
.top2ab1133_h h4 a {
	color:#bc2931;
	font-size:12px;
	font-weight:normal;
}
.top2ab1133_h h4 b:hover {
	text-decoration:underline;
}
.top2ab1133_h h4 span {
	float:right;
	padding-top:5px;
	font-size:12px;
	padding-right:10px;
	font-weight:normal;
	line-height:15px;
	height:19px;
	letter-spacing:1px;
}
.top2ab1133_h h4 span a b {
	font-weight:normal;
	padding-right:3px;
	padding-left:3px;
}
.top2ab1133_h h4 span a strong {
	color:#df3f1f;
	font-size:13px;
	font-family:verdana;
	padding-right:3px;
	padding-left:2px;
}
#comb {
	zoom:1;
	overflow:hidden;
	width:946px;
	height:14px;
	border:1px solid #EDCE7B;
	margin-top:10px;
	padding:8px;
	padding-top:10px;
	background-color:#FFFFEA;
	color:#333333;
}
#comb a {
	color:#006400
}
.commendType1 {
	overflow:hidden;
	width:960px;
	border:1px solid #B5D9EE;
	background:#f9fcff;
	margin-bottom:8px;
	margin-top:10px;
}
.commendType1 ul {
	width:960px;
	overflow:hidden;
	list-style:none;
	padding-left:26px;
}
.commendType1 ul.hang1 {
	background-color:#f0f0f0;
	width:960px;
}
.commendType1 ul.hang2 {
	background-color:#f9fcff;
	width:960px;
}
.commendType1 ul li {
	line-height:20px;
	float:left;
	width:230px;
	text-align:left;
	padding-top:9px;
	padding-bottom:10px;
	color:#BC2931;
}
.commendType1 ul li a {
	color:#000000;
	text-decoration:none;
	margin-right:6px;
}
.commendType1 ul li a span {
	color:#BC2931;
}
.commendType1 ul li a:hover {
	color:#0290fe;
	text-decoration:underline;
}
.commendType1 ul li strong {
	color:#bc2931;
	font-weight:normal;
}
.commendType1 li b {
	font-size:13px;
	padding-right:8px;
	color:#888;
	font-family:verdana;
	font-weight:normal;
}
.commendType1 li b strong {
	padding-right:8px;
	color:#df3f1f;
	font-size:13px;
	font-family:verdana;
	font-weight:normal;
}
.commendType1 li b span {
	padding-right:8px;
	color:green;
	font-size:13px;
	font-family:verdana;
	font-weight:normal;
}
#classpage {
	clear:both;
	width:962px;
	margin:0 auto;
	color:#636563;
}
.top2 {
	float:right;
	width:235px;
	height:677px;
	border:1px solid #B5D9EE;
	margin-top:8px;
}
.top2 p {
	font-size:12px;
	float:left;
	color:#888;
	font-weight:bold;
	background:url(yu77.gif) 1px 0px no-repeat;
}
.top2 a {
	color:#000000;
	text-decoration:none;
}
.top2 a:hover {
	color:#0290fe;
	background:#f9fcff;
	text-decoration:underline;
}
.top2 ul {
	list-style:none;
	margin:0 auto;
	margin-top:14px;
	width:230px;
}
.top2 ul li {
	background:url(ic_1.gif) 12px 5px no-repeat;
	padding-left:38px;
	overflow:hidden;
	line-height:24px;
	height:35px;
	color:#000000;
	text-align:left;
}
.top2 ul li h3 {
	font-size:12px;
	color:#000000;
	font-weight:normal;
}
.top2 ul li span {
	float:right;
	font-size:12px;
	line-height:24px;
	height:30px;
	font-family:verdana;
	color:#888;
	padding-right:3px;
}
.top2 ul li span b {
	color:#888;
	font-weight:normal;
	padding-left:5px;
}
.top2 ul li a {
	margin:0px;
	padding-top:0px;
	text-decoration:none;
}
.top3 {
	float:right;
	width:235px;
	height:906px;
	border:1px solid #B5D9EE;
	margin-top:8px;
}
.top3 p {
	font-size:12px;
	float:left;
	color:#888;
	font-weight:bold;
	background:url(yu77.gif) 1px 0px no-repeat;
}
.top3 a {
	color:#000000;
	text-decoration:none;
}
.top3 a:hover {
	color:#0290fe;
	background:#f9fcff;
	text-decoration:underline;
}
.top3 ul {
	list-style:none;
	margin:0 auto;
	margin-top:14px;
	width:230px;
}
.top3 ul li {
	background:url(ic_2.gif) 12px 5px no-repeat;
	padding-left:38px;
	overflow:hidden;
	line-height:23px;
	height:36px;
	color:#000000;
	text-align:left;
}
.top3 ul li h3 {
	font-size:12px;
	color:#000000;
	font-weight:normal;
}
.top3 ul li span {
	float:right;
	font-size:12px;
	line-height:24px;
	height:30px;
	font-family:verdana;
	color:#888;
	padding-right:3px;

}
.top3 ul li span b {
	color:#888;
	font-weight:normal;
	padding-left:5px;
}
.top3 ul li a {
	margin:0px;
	padding-top:0px;
	text-decoration:none;
}
.top4 {
	float:right;
	width:235px;
	height:550px;
	border:1px solid #B5D9EE;
	margin-top:8px;
}
.top4 p {
	font-size:12px;
	float:left;
	color:#888;
	font-weight:bold;
	background:url(yu77.gif) 1px 0px no-repeat;
}
.top4 a {
	color:#000000;
	text-decoration:none;
}
.top4 a:hover {
	color:#0290fe;
	background:#f9fcff;
	text-decoration:underline;
}
.top4 ul {
	list-style:none;
	margin:0 auto;
	margin-top:14px;
	width:230px;
}
.top4 ul li {
	background:url(ic_3.gif) 12px 5px no-repeat;
	padding-left:38px;
	overflow:hidden;
	line-height:23px;
	height:36px;
	color:#000000;
	text-align:left;
}
.top4 ul li h3 {
	font-size:12px;
	color:#000000;
	font-weight:normal;
}
.top4 ul li span {
	float:right;
	font-size:12px;
	line-height:24px;
	height:30px;
	font-family:verdana;
	color:#888;
	padding-right:3px;
}
.top4 ul li span b {
	color:#888;
	font-weight:normal;
	padding-left:5px;
}
.top4 ul li a {
	margin:0px;
	padding-top:0px;
	text-decoration:none;
}
.top5 {
	float:right;
	width:235px;
	height:550px;
	border:1px solid #B5D9EE;
	margin-top:8px;
}
.top5 p {
	font-size:12px;
	float:left;
	color:#888;
	font-weight:bold;
	background:url(yu77.gif) 1px 0px no-repeat;
}
.top5 a {
	color:#000000;
	text-decoration:none;
}
.top5 a:hover {
	color:#0290fe;
	background:#f9fcff;
	text-decoration:underline;
}
.top5 ul {
	list-style:none;
	margin:0 auto;
	margin-top:14px;
	width:230px;
}
.top5 ul li {
	background:url(ic_4.gif) 12px 5px no-repeat;
	padding-left:38px;
	overflow:hidden;
	line-height:23px;
	height:36px;
	color:#000000;
	text-align:left;
}
.top5 ul li h3 {
	font-size:12px;
	color:#000000;
	font-weight:normal;
}
.top5 ul li span {
	float:right;
	font-size:12px;
	line-height:24px;
	height:30px;
	font-family:verdana;
	color:#888;
	padding-right:3px;
}
.top5 ul li span b {
	color:#888;
	font-weight:normal;
	padding-left:5px;
}
.top5 ul li a {
	margin:0px;
	padding-top:0px;
	text-decoration:none;
}
.top2a1_h6 {
	BACKGROUND:url(toolbar.gif) repeat-x;
}
.top2a1_h6 h2 {
	line-height:21px;
	height:21px;
	text-align:left;
	color:#bc2931;
	padding-left:40px;
	border-bottom:1px solid #B5D9EE;
	font-size:14px;
	font-weight:bold;
	background:url(soso.gif) 16px 8px no-repeat;
	padding-top:3px;
	letter-spacing:5px;
}
.top2a1_h6 h2 span {
	float:right;
	font-size:12px;
	font-weight:normal;
	color:#333;
	padding-right:8px;
	line-height:21px;
	letter-spacing:3px;
}
.top2a1_h6 h2 span a {
	color:#bc2931;
}
.fter h4 {
	font-size:12px;
	color:#000;
	background:url(ico_01.gif) 9px 7px no-repeat;
	text-align:left;
	padding-top:2px;
	padding-left:36px;
	font-weight:normal;
}
.fter {
	height:27px;
	line-height:27px;
	text-align:left;
	padding-left:6px;
        margin-bottom:8px;
	background:url(repeat.gif) repeat-x 0 -337px;
	border-bottom:1px solid #DCDCDC;
	font-size:12px;
}
.fter a {
	color:#3266cc;
	font-size:12px;
}
.fter h4 span {
	float:right;
	font-size:12px;
	font-weight:normal;
	color:#000000;
	padding-right:13px;
	padding-left:10px;
	line-height:18px;
	height:18px;
	padding-top:5px;
}
.fter h4 span a {
	color:#000;
        font-size:12px;
}
.footer {
	width:960px;
	border:1px solid #DCDCDC;
	overflow:hidden;
	margin-top:9px;
	font-size:12px;
}
.Links {
width:950px;
text-align:left;
color:#CCC;
margin-left:15px;
font-size:12px;
line-height:25px;
}
.Links a {
	text-align:left; 
	color:#666666; 
	padding-right:11px;
	padding-left:6px;
	display:block;
	float:left;
	overflow: hidden
	font-size:12px;
	white-space:nowrap;
}
.Links a:hover {
color:#0066CC;
}
#fooda {
	background:url(Bg1.png) 0 0 repeat-x #ebebeb;
	border:1px solid #e2e2e2;
	margin-top:18px;
	overflow:hidden;
	height:100px;
}
#footee {
	width:962px;
	margin:0 auto;
}
#footee .beihao {
	margin-top:12px;
}
#footee p {
	line-height:22px;
	color:#666;
}
#footee p a {
	color:#333;
}
/* 
*程序作者: vivi_studio
*授权联系: qq:996948519
*官网网址: www.08le.cn
*/