.clear{CLEAR:both;HEIGHT:38px;}
.middle2aa1{float:left;background-color:#f0f0f0;border:1px solid #B5D9EE;height:827px;margin-top:2px;width:719px;margin-bottom:9px;}
.middle2aa1_h{width:719px;height:25px;line-height:24px;float:left;BACKGROUND:url(sh_2.jpg) repeat-x;border-bottom:1px solid #B5D9EE;color:#000000;padding-top:3px;margin-bottom:13px;}
.middle2aa1_h a{color:#000000;}
.middle2aa1_h a:hover{color:#0290fe;text-decoration:underline;}
.middle2aa1_h h2{padding-left:47px;text-align:left;background:url(bg05.gif) 21px 4px no-repeat;}
.middle2aa1_h h2 span{float:right;font-size:12px;font-weight:normal;color:#000000;}
.middle2aa1_h h2 b{color:#bc2931;font-family:Arial,sans-serif;font-size:14px;font-weight:bolder;letter-spacing:2px;}
.middle2aa1_h h2 span b{background:url(px.gif) 0px 0px no-repeat;padding-left:25px;padding-right:15px;font-weight:normal;font-size:12px;letter-spacing:1px;}
#baidu1{width:960px;text-align:center;height:90px;background:#f9fcff;margin-top:-2px;margin-bottom:1px;}
#baidu2{margin-bottom:12px;margin-top:7px;}
#baidu3{margin-bottom:12px;border:1px solid #E3E3E3;padding:1px;width:706px;}
.top2a1178{float:right;width:228px;height:831px;border:1px solid #B5D9EE;background-color:#f9fcff;margin-top:2px;}
.top2a1178 a{color:000000;text-decoration:none;}
.top2a1178 a:hover{color:#0290fe;text-decoration:underline;}
.top2a1178 ul{list-style:none;margin-top:4px;margin-left:6px}
.top2a1178 ul li{list-style:none;width:215px;float:left;text-align:left;padding-top:10px;padding-bottom:9px;}
.top2a1178 ul li a{height:19px;line-height:19px;}
.top2a1178 ul li span{float:right;color:#df3f1f;font-size:12px;font-family:verdana;font-weight:bold;}
.top2a1178 ul li span a{color:#888;font-size:12px;font-family:verdana;padding-left:5px;}
.top2a1178 ul li  b{width:24px;height:17px;font-size:12px;float:left;text-align:center;line-height:16px;zoom:1;font-family:verdana;margin-right:6px;font-weight:normal;color:#888;}
.top2a1178 ul li a{color:#000000;font-size:14px;font-weight:normal;}
.top2a15_h{BACKGROUND:url(sh_2.jpg) repeat-x;border-bottom:1px solid #B5D9EE;font-family:Arial,sans-serif;color:#2C602F;height:26px;line-height:25px;text-align:left;padding:2px 0px 0px 14px;margin-bottom:14px;}
.top2a15_h p{text-align:left;background:url(img01.gif) 0px 6px no-repeat;padding-left:27px;font-size:14px;color:#bc2931;font-weight:bold;letter-spacing:5px;}
.top2a15_h span{float:right;font-size:12px;font-weight:normal;padding:1px 7px 0px 0px;color:#333;letter-spacing:3px;}
#classpage{clear:both;width:962px;margin:0 auto;color:#636563;}
#classpage1{overflow:hidden;float:right;width:230px;margin-bottom:6px;}
#classpage2{float:left;margin-bottom:6px;}
#classpage6{overflow:hidden;}
#classpage10{width:709px;text-align:left;padding-left:10px;clear:both;height:33px;line-height:30px;background:#f9fcff;border:1px solid #B5D9EE;color:#000000;margin-bottom:2px;}
#cbai{margin-top:4px;height:95px;background:#f9fcff;}
#mimi{overflow:hidden;width:100%;float:center;}
#fooda{background:url(Bg1.png) 0 0 repeat-x #ebebeb;border:1px solid #e2e2e2;margin-top:18px;overflow:hidden;height:100px;}
#footee{width:962px;margin:0 auto;}
#footee .beihao{margin-top:12px;}
#footee p{line-height:22px;color:#666;}
#footee p a{color:#333;}
/*--------------- 分页 -----------*/
.pagebox{font-size:12px;width:100%;overflow:hidden;padding:5px 0 5px 0;_height:20px;}
.pagebox em{float:left;margin-right:2px;text-align:center;padding:0 5px;height:21px;line-height:21px;color:#df3f1f;border:1px solid #B5D9EE;background:#f9fcff;font-weight:bold;margin-right:10px;font-style:normal;}
.pagebox span{float:right;margin-right:2px;padding:0 4px;height:23px;line-height:23px;}
.pagebox span b{color:#999;font-weight:normal;padding-left:2px;}
.pagebox a:link,.pagebox a:visited{border:1px solid #B5D9EE;color:#333;text-decoration:none;padding:0 5px;height:19px;line-height:19px;float:left;display:inline;margin-right:10px;background-color:#f9fcff;padding-top:2px;}
.pagebox a:hover{border:1px solid #B5D9EE;color:#df3f1f;}
.pagebox input{float:left;margin-right:5px;}
.pagebox em.nolink{background-color:#f9fcff;border:1px solid #B5D9EE;color:#000;height:21px;line-height:21px;font-weight:400;margin-right:10px;}
#page{height:17px;}
.pagebox input{background-color:#f9fcff;border-color:#B5D9EE #B5D9EE #B5D9EE #B5D9EE;border-style:solid;border-width:1px;color:#df3f1f;padding:2px;font-weight:bold;font-family:verdana;}
.pagebox input.tz{cursor:pointer;border:1px solid #B5D9EE;background-color:#f9fcff;color:#000000;padding:4px 2px 0px 4px;margin-left:5px;font-weight:normal;font-size:12px;}
.box3{OVERFLOW:hidden;WIDTH:719px;TEXT-ALIGN:left;}
.box3 .box3_mid UL{MARGIN:0px 0px 0px 12px;OVERFLOW:hidden;list-style:none;}
.box3 .box3_mid LI{border:1px solid #B5D9EE;margin-BOTTOM:12px;padding-TOP:6px;HEIGHT:176px;PADDING-LEFT:11px;FLOAT:left;WIDTH:328px;MARGIN-RIGHT:12px;background:#f9fcff;}
.box3 .box3_mid LI .img{FLOAT:left;WIDTH:120px;MARGIN-RIGHT:13px;MARGIN-TOP:5px;HEIGHT:145px;padding:1px;border:1px solid #E3E3E3;background:#f9fcff;}
.box3 .box3_mid LI .img h3{width:40px;height:19px;line-height:19px;padding-top:1px;background:#000;opacity:0.9;filter:alpha(opacity=90);font-size:12px;margin-top:-23px;font-weight:normal;text-align:left;padding-left:80px;}
.box3 .box3_mid LI .img h3 a{color:#ffffff;position:absolute;}
.box3 .box3_mid LI .img h3 a b{color:#ffffff;padding-right:5px;}
.box3 .box3_mid LI DL{FLOAT:left;WIDTH:189px;}
.box3 .box3_mid LI DT{MARGIN:8px 0px 13px 17px;background:url(btt.gif) 0px 1px no-repeat;padding-left:20px;color:#2C602F;font-family:verdana;}
.box3 .box3_mid LI DT A{color:#000000;height:16px;line-height:15px;font-size:12px;font-weight:normal;margin-right:6px;}
.box3 .box3_mid LI DT A span{color:#2C602F;}
.box3 .box3_mid LI DT A:hover{text-decoration:underline;color:#0290fe;font-size:12px;}
.box3 .box3_mid LI DD{MARGIN-BOTTOM:8px;COLOR:#777777;LINE-HEIGHT:18px;}
.box3 .box3_mid LI DD p{word-break:break-all;width:181px;overflow:hidden;text-overflow:ellipsis;font-size:12px;text-indent:17px;height:106px;line-height:22px;list-style:none;}
.box3 .box3_mid LI DD a{COLOR:#000000;}
.box3 .box3_mid LI DD a:hover{COLOR:#000000;}
.box3 .box3_mid LI DD h2{text-decoration:none;font-weight:normal;font-size:12px;border:1px solid #cccccc;padding-left:5px;padding-top:3px;HEIGHT:18px;WIDTH:69px;TEXT-ALIGN:center;cursor:hand;}
.box3 .box3_mid LI DD span{text-decoration:none;cursor:hand;border:1px solid #cccccc;padding-left:5px;padding-top:3px;DISPLAY:inline;float:left;text-align:left;MARGIN-LEFT:16px;WIDTH:69px;HEIGHT:18px;MARGIN-right:35px;TEXT-ALIGN:center;}
/* 
*程序作者:vivi_studio
*授权联系:qq:996948519
*官网网址:www.vxiaotou.com
*/